
<!-- Sidebar Nav -->
<div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
  <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
    <!-- Dashboards -->
    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item u-side-nav-opened has-active">
      <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu1">
        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
          <i class="hs-admin-server"></i>
        </span>
        <span class="media-body align-self-center">Dashboard</span>
        <span class="d-flex align-self-center u-side-nav--control-icon">
          <i class="hs-admin-angle-right"></i>
        </span>
        <span class="u-side-nav--has-sub-menu__indicator"></span>
      </a>

      <!-- Dashboards: Submenu-1 -->
      <ul id="subMenu1" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0" style="display: block;">
       <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <%= link_to admin_dashboard_path, class: 'media u-side-nav--second-level-menu-link g-px-15 g-py-12' do %>
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-harddrive"></i>
            </span>
            <span class="media-body align-self-center">Dashboard</span>            
          <% end %>
        </li>            
       <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <%= link_to admin_n400_forms_path, class: 'media u-side-nav--second-level-menu-link g-px-15 g-py-12' do %>
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-harddrive"></i>
            </span>
            <span class="media-body align-self-center">N400 Forms</span>            
          <% end %>
        </li>          
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <%= link_to admin_users_path, class: 'media u-side-nav--second-level-menu-link g-px-15 g-py-12' do %>
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-harddrive"></i>
            </span>
            <span class="media-body align-self-center">Users</span>            
          <% end %>
        </li>        
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <%= link_to logout_path, method: :delete, class: 'media u-side-nav--second-level-menu-link g-px-15 g-py-12' do %>
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-harddrive"></i>
            </span>
            <span class="media-body align-self-center">Logout</span>            
          <% end %>
        </li>
      </ul>
      <!-- End Dashboards: Submenu-1 -->
    </li>
    <!-- End Dashboards -->

    <!-- Layouts Settings -->
    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
      <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu2">
        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
          <i class="hs-admin-settings"></i>
        </span>
        <span class="media-body align-self-center">Layouts Settings</span>
        <span class="d-flex align-self-center u-side-nav--control-icon">
          <i class="hs-admin-angle-right"></i>
        </span>
        <span class="u-side-nav--has-sub-menu__indicator"></span>
      </a>

      <!-- Layouts Settings: Submenu-1 -->
      <ul id="subMenu2" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
        <!-- Header Static -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="../layout-settings/header-static.html">
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-layout-media-center-alt"></i>
            </span>
            <span class="media-body align-self-center">Header Static</span>
          </a>
        </li>
        <!-- End Header Static -->

        <!-- Hide Sidebar -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="../layout-settings/sidebar-hide.html">
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-layout-sidebar-none"></i>
            </span>
            <span class="media-body align-self-center">Hide Sidebar</span>
          </a>
        </li>
        <!-- End Hide Sidebar -->

        <!-- Light Layout -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="../layout-settings/layout-light.html">
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-layout-media-left-alt"></i>
            </span>
            <span class="media-body align-self-center">Light Layout</span>
          </a>
        </li>
        <!-- End Light Layout -->

        <!-- Dark Layout: body v.2 -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="../layout-settings/layout-dark-body-v2.html">
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-layout-media-center-alt"></i>
            </span>
            <span class="media-body align-self-center">Dark Layout: body v.2</span>
          </a>
        </li>
        <!-- End Dark Layout: body v.2 -->

        <!-- Light Layout: body v.2 -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
          <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="../layout-settings/layout-light-body-v2.html">
            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
              <i class="hs-admin-layout-media-center-alt"></i>
            </span>
            <span class="media-body align-self-center">Light Layout: body v.2</span>
          </a>
        </li>
        <!-- End Light Layout: body v.2 -->
      </ul>
      <!-- End Layouts Settings: Submenu-1 -->
    </li>
    <!-- End Layouts Settings -->
  </ul>
</div>
<!-- End Sidebar Nav -->
