<div class="nested-fields">
	<%= f.input :family_name, label: 'Family Name (Last Name)' %>
	<%= f.input :given_name, label: 'Given Name (First Name)' %>
	<%= f.input :middle_name, label: 'Middle Name (if applicable)' %>
	<%= link_to_remove_association 'remove name', f, class: 'btn btn-warning' %>
  <hr>
</div>

