<h6>1. Enter Your 9 Digit A-Number:</h6>
<%= f.input :nine_digit_a_number, placeholder: '123456789', label: false %>

<h6>2. You are at least 18 years of age and:</h6>
<%= f.input :eligibility, as: :radio_buttons, collection: N400Form::ELIGIBILITY, wrapper_html: { id: 'eligibile' } %>

<%= f.input :field_office_id, collection: FieldOffice.all, 
	label_method: :state_and_name, value_method: :id,label: "Field Office", 
	include_blank: "Please select a Field Office", selected: @n400_form.field_office_id, wrapper_html: { id: 'field-office' } %>

<%= f.input :other_explain, collection: N400Form::OTHER_EXPLAIN, 
	include_blank: "Please select an explanation",
	wrapper_html: { id: 'other-explain' }
 %>	

