
<%= f.input :nine_digit_a_number, placeholder: '123456789' %>

<%= f.input :eligibility, as: :radio_buttons, collection: N400Form::ELIGIBILITY, wrapper_html: { id: 'eligibile' } %>

<%= f.input :field_office_id, collection: FieldOffice.all, 
	label_method: :state_and_name, value_method: :id,label: "Field Office", 
	include_blank: "Please select a Field Office", selected: @n400_form.field_office_id, wrapper_html: { id: 'field-office' } %>

<%= f.input :other_explain, collection: N400Form::OTHER_EXPLAIN, 
	include_blank: "Please select an explanation",
	wrapper_html: { id: 'other-explain' }
 %>	

<!-- <form>
<p id="myRadios">
    <label><input type="radio" name="myRadio" value="radio1">Radio 1</label>
    <label><input type="radio" name="myRadio" value="radio2">Radio 2</label>
    <label><input type="radio" name="myRadio" value="radio3">Radio 3</label>
</p>
<div id="infoForAllButLast">
<p>This is some information for all but the last option.</p>
</div>
<div id="infoForFirstTwo">
<p>This is some information for the first two options.</p>
</div>
</form> -->