<div class="container">
	
  <div class="my-form">
    <h1>New N400 Form</h1>

    <%= render 'form', n400_form: @n400_form %>

    <%= link_to 'Cancel', dashboard_path, class: 'btn btn-info' %>  
  </div>
</div>
